/*This is the Css file  of task 1 */

body {
    font-family: "Times New Roman", Times, serif;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.5) 50%),
        url(1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #010000;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #ff7200;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #ff7200;
    color: rgb(20, 17, 6);
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ff7200;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .delete {
    color: #0a0909;
    cursor: pointer;
}
